.features-section-container{
    color: white;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: space-between;
    .features-section-item{
        max-width: 30%;
        padding: 1rem;
        h1{
            font-size: 1rem;
        }
        p{
            font-size: 0.75rem;
        }
    }
    .features-section-item:last-child{
        border-left: 0.3rem solid white;
    }
}


@media only screen and (max-width: 600px) {
    .features-section-container{
        flex-direction: column;
    }
    .features-section-item{
        max-width: 100% !important;
    }
    .features-section-item:last-child{
        border-top: 0.3rem solid white;
        border-left: none !important;
    }
}